.panels {
  .panel-content {
    display: none;
    width: 100%;

    &.active {
      display: inline-block;
    }
  }

  .panel-tab {
    display: inline-block;
    padding: 0.5em 1em;
    border: none;
    cursor: default;
    line-height: 2;
    letter-spacing: 2px;
    background-color: $code-background-color;
    color: white;
    opacity: 0.5;
    font-family: monospace;

    &.active {
      opacity: 1;
      outline: none;
    }

    &:active,
    &:focus {
      opacity: 1;
      outline-color: white;
    }

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }
  }
}
